.flashcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flashcard {
    width: 250px; /* Fixed width */
    height: 250px; /* Fixed height */
    perspective: 1000px;
    cursor: pointer;
    position: relative; /* Ensure relative positioning for absolute children */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Clip overflow content */
  }
  
  
  .front img {
    width: auto; /* Allow image to maintain aspect ratio */
    height: auto; /* Allow image to maintain aspect ratio */
    max-width: 100%; /* Ensure image doesn't exceed container */
    max-height: 100%; /* Ensure image doesn't exceed container */
    object-fit: contain; /* Fit image inside the container */
    border-radius: 10px; /* Rounded corners for the image */
  }
  

  
