.flashcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flashcard {
    width: 250px; /* Fixed width */
    height: 250px; /* Fixed height */
    perspective: 1000px;
    cursor: pointer;
    position: relative; /* Ensure relative positioning for absolute children */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Clip overflow content */
  }
  
  .front img {
    width: 100%; /* Scale image to fit container width */
    height: 100%; /* Scale image to fit container height */
    object-fit: cover; /* Cover the entire container, may cut off edges */
    border-radius: 10px; /* Rounded corners for the image */
  }