.App {
  text-align: center;
  font-family: 'Lora', sans-serif; /* Updated font for a modern look */
  background-color: #f4f4f9; /* Soft, neutral background color */
  padding: 20px; /* Add padding for better spacing */
  min-height: 100vh; /* Ensure the background color covers the entire viewport */
}

.small-title {
  font-size: 1.6rem; /* Slightly larger for emphasis */
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
  color: #3b6978; /* Warm, inviting coral color */
  font-weight: 700; /* Bold font for strong emphasis */
}

form {
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}
.button-group {
  display: flex;
  justify-content: center; /* Center items horizontally */
  gap: 10px; /* Adjust the gap value to your preference */
  margin-top: 20px; /* Optional: Adjust margin-top for additional spacing */
}
/* App.css */
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.react-slider {
  width: 200px;
  height: 25px;
}

.react-slider .thumb {
  height: 25px;
  width: 25px;
  background-color: #007bff;
  cursor: grab;
  border-radius: 50%;
}

.react-slider .track {
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  background: #007bff;  /* Set the default (filled) track color */
}

.react-slider .track-1 {
  background: #ddd;  /* Set the color for the track behind the thumb */
}

.score-container {
  width: 100%; /* Ensures it takes full width */
  padding: 10px 0; /* Vertical padding */
}

#scoreDisplay, #highScoreDisplay {
  font-size: 1rem; /* Adjust font size as needed */
}