.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.small-title {
  font-size: 1.5rem; /* Adjust the size as needed */
  margin-top: 1rem; /* Adjust the top margin as needed */
  margin-bottom: 1rem; /* Adjust the bottom margin as needed */
}

form {
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}
.button-group {
  display: flex;
  justify-content: center; /* Center items horizontally */
  gap: 10px; /* Adjust the gap value to your preference */
  margin-top: 20px; /* Optional: Adjust margin-top for additional spacing */
}
/* App.css */
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.react-slider {
  width: 200px;
  height: 25px;
}

.react-slider .thumb {
  height: 25px;
  width: 25px;
  background-color: #007bff;
  cursor: grab;
  border-radius: 50%;
}

.react-slider .track {
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  background: #ddd;
}

.react-slider .track-1 {
  background: #007bff;
}